// google fonts google icons
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Castoro&family=Noto+Sans+TC:wght@400;500;800&display=swap');

// custom images (index use)
.custom-background-1 {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week8-petpet/index-2.jpeg?raw=true);
}
.custom-background-2 {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week8-petpet/index-3.jpeg?raw=true);
}
.custom-background-3 {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week8-petpet/index-4.jpeg?raw=true);
}
.custom-img-bg-1 {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week8-petpet/index-5.jpeg?raw=true);
}
.custom-img-bg-2 {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week8-petpet/index-6.jpeg?raw=true);
}
.custom-img-bg-3 {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week8-petpet/index-7.jpeg?raw=true);
    z-index: -1;
}
.custom-img-bg-4 {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week8-petpet/index-8.jpeg?raw=true);
    z-index: -1;
}
.custom-img-bg-5 {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week8-petpet/index-9.jpeg?raw=true);
    // z-index: -1;
}
.custom-img-bg-6 {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week8-petpet/index-9.jpeg?raw=true);
    background-size: cover;
    background-position: center center;
    height: 100%;
}
// utils
//background
.bg-cover {
    background-size: cover;
}
.bg-position-50-25 {
    background-position: 50% 25%;
    // height: 50%;
}
// images
.img-cover {
    background-size: cover;
    background-position: 50% 25%;
}
// padding y
.py-28 {
    padding-top: 28px;
    padding-bottom: 28px;
}
.py-36 {
    padding-top: 36px;
    padding-bottom: 36px;
}
.py-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}
.py-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}
// padding top
.pt-70 {
    padding-top: 70px;
}
.pt-80 {
    padding-top: 80px;
}
// padding bottom
.pb-80 {
    padding-bottom: 80px;
}
.pb-100 {
    padding-bottom: 100px;
}
.pb-110 {
    // margin-bottom: 110px;
    padding-bottom: 110px;
}
.pb-132 {
    padding-bottom: 132px;
}
// margin top
.mt-80 {
    margin-top: 80px;
}
// margin bottom
.mb-20 {
    margin-bottom: 20px;
}
.mb-132 {
    margin-bottom: 132px;
}
.mb-100 {
    margin-bottom: 100px;
}