<nav class="navbar navbar-expand-md navbar-light py-1">
    <div class="container">
      <h1 class="navbar-brand fs-2 text-secondary mx-3"><a href="index.html" class="text-decoration-none text-secondary fw-normal">PETPET</a></h1>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a href="service.html" class="nav-link link-primary text-decoration-none mx-3">預約服務</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-primary text-decoration-none mx-3">成為寵物保姆</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-primary text-decoration-none mx-3">登入</a></li>
      </ul>
    </div>
  </nav>
  