<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PETPET</title>
</head>
<body>
    <%- include('./layout/header'); -%>

    <div class="container py-60">
        <div class="row">
            <div class="col">
                <p class="text-primary">毛孩好家</p>
                <p class="text-primary">給予毛孩最舖適的環境是我們的職責!</p>
                <p class="text-primary">已提供52筆服務、並獲得30個評價</p>
                <p class="text-primary">服務內容</p>
                <p class="text-primary">寄宿 NT1450 /晚</p> 
                <p class="text-primary">美容洗澡 NT1 500(含剪指甲、剃腳底毛、清耳朵)</p>
                <span class="text-danger">個性貓另加價</span>
                <p class="text-primary">到府保姆 NT1 550 /晚</p>
                <p class="text-primary">高雄市鹽程區七賢三路123號</p>
                <p class="text-primary">服務區域：高雄市 全區</p>
            </div>
            <div class="col">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-petpet/index-11.jpeg?raw=true" alt="">
            </div>
        </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
</body>
</html>