<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="container">
      <div class="row">
        <div class="col-5">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-petpet/index-1.png?raw=true" alt="">
        </div>
        <div class="col-7 text-primary m-auto">
          <h3 class="mb-1 fs-1">寵物服務，盡在 PETPET</h3>
          <h4 class="fs-4">當您的毛孩在需要時，幫您找到最合適的服務者!</h4>
          <div class="dropdown border border-dark rounded">
            <button class="btn btn-white dropdown-toggle" type="button" id="dropdownMenuButton1">品種</button>
          </div>
        </div>
      </div>
    </div>

  
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
