<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <%- include('./layout/header'); -%>

    <div class="container">
        <div class="row">
            <h3 class="text-primary">寵物寄宿</h3>
        </div>
    </div>
    <div class="bg-secondary">
        <div class="container"></div>
    </div>
    <div class="container">
        <div class="row"></div>
    </div>
    <div class="container">
        <div class="row"></div>
        <div class="row"></div>
    </div>
    <div class="bg-secondary">
        <div class="container py-36">
          <div class="row">
            <div class="col-6">
              <h3 class="text-primary fs-1">有任何我們能幫助您的嗎?</h3>
              <p class="text-primary fs-5">輸入電子信箱<br>將有專業人員在線幫您解決所有問題</p>
              <div class="input-group mb-3">
                <input type="text" class="form-control fs-5" placeholder="example@gmail.com" aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-outline-danger bg-danger text-light col-3" type="button" id="button-addon2">送出</button>
              </div>
            </div>
          </div>
        </div>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>

</body>
</html>